@model PPCWebs.Models.Property

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BathRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BathRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Avatar)" alt="Image" style="height:100px;width:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyStatu.PropertyStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyStatu.PropertyStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType.PropertyTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType.PropertyTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
